.catdiv{
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    gap: 15px;
    margin-top: 20px;
}

.subdiv1{
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.subdiv1 p{
    cursor: pointer;
}

.subdiv2 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    object-fit: cover;
}

.subdiv3{
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.subdiv3 img{
    padding-top: 10px ;
}

.subdiv3 p{
    margin-top: -8px;
}



.subdiv3 form label{
    font-size: 14px;
}

.subdiv3 form input{
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    width: 100px;
}

.subdiv3 button{
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(22, 19, 19);
    color: white;
    border: none;
    border-radius: 5px;
}