.main_signin{
    z-index: 95;
    width: 726px;
    height: 360px;
    border-radius: 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: 0 0;
    margin: auto;
    background-repeat: no-repeat;
    background-color: #edf1f4;
    position: absolute;
    box-shadow: 0 0 12px 6px rgb(0 0 0 / 5%), 0 3px 6px rgb(0 0 0 / 15%);
    background-image: url(../images/userAuthSpritev3.png);
    vertical-align: sub;
    display: inline-block;
}

.user{
    width: 340px;
    background: #fff;
    border-radius: 5px;
    padding: 29px;
    padding-top: 25px;
    box-shadow: 0 0 12px 6px rgb(0 0 0 / 5%), 0 3px 6px rgb(0 0 0 / 15%);
    position: fixed;
    top: 50%;
    left: calc(50% - -154px);
    min-height: 405px;
    -webkit-transform: translate(-50%, -50%);
}

.list{
    padding: 60px 30px;
    margin-right: 400px;
}

.list h6{
    margin-bottom: 0px;
    font-size: 14px;
}

.list p{
    font-size: 14px;
}

.list div{
    margin-bottom: 50px;
}

.user{
    padding: 30px 20px;
}

.user h5{
    font-size: 20px;
}

.user p{
    font-size: 12px;
}

form input{
    width: 100%;
    outline: none;
    border: 1px solid rgb(104, 104, 104);
}

input{
    margin-bottom: 10px;
}

.reg button{
    margin-top: 20px;
    width: 100%;
    font-size: 12px;
    background-color: #e70032;
}

.user h6{
    text-align: center;
    font-size: 9px;
    padding: 30px 0 20px 0;
}

.social{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
}

.fv button{
    width: 100%;
    font-size: 12px;
    padding: 8px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.google button{
    width: 100%;
    font-size: 12px;
    padding: 8px 15px;
    background-color: white;
    color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



