.home_sub{
    width: 90%;
    height: 250px;
    margin-top: 15px;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 15% 61% 20%;
    gap: 20px;
}

.blank{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 4px;
}

.banner{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 4px;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.pin{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 4px;
}

.pin img{
    padding-top: 10px ;
}

.pin p{
    margin-top: -11px;
    font-size: 11px;
}



.pin form label{
    font-size: 14px;
}

.pin form input{
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    width: 100px;
}

.pin button{
    font-size: 14px;
    padding: 8px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(46, 42, 42);
    color: white;
    border: none;
    border-radius: 5px;
}
