.show_prod{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 5%;
}

.details{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.details img{
    width: 300px;
}

.produ_details h1{
    margin-top: 20px;
    text-align: left;
}

.produ_details h4{
    text-align: left;
    background-color: rgb(3, 228, 3);
    padding: 10px 15px;
    width: 110px;
    font-size: 26px;
}

.produ_details p{
    text-align: left;
    color: rgb(129, 129, 129);
    font-size: 16px;
}

.produ_details button{
    border-color: green;
    background-color: rgb(0, 231, 0);
    margin-right: 20px;
    border-radius: 3px;
    font-size: 20px;
}

