.card{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cardtext img{
    margin-left: 150px;
    width: 120px;
    padding: 10px;
}

.cardtext{
    display: grid;
    grid-template-columns: 50% 50%;
}

.card-body a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.heading{
    margin: 30px 0 30px 20px;
    text-align: left;
}

.cat_button{
    width: 80px;
}