.headdiv{
    width: 100%;
    height: 40px;
    background-color: #c9033e;
    z-index: 1;
    color: #ffffff;
    margin-top: -12px;
    height: auto;
}

.sub_headdiv{
    width: 90%;
    margin-left: 5%;
}

.head-details p{
    padding: 4px 0 4px 0;
    font-size: 12px;
    line-height: 22px;
}

.maindiv{
    width: 100%;
    background-color: #e40046;
    z-index: 1;
    color: white;
    margin-top: -12px;
}

.sub-div{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 15px 0;
}

.inputbox{
    padding: 15px 0;
    float: right;
}
.inputbox input{
    width: 450px;
    padding: 8px 20px;
    margin-top: 4px;
    font-size: 14px;
    border: none;
    color: #333333;
}
.inputbox button{
    float: right;
  padding: 6px 20px;
  margin-top: 4px;
  margin-right: 16px;
  background: #212121;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;

}
.login{
    display: grid;
    grid-template-columns: 50% 50%;
}

.login p{
    margin-left: 40px;
    margin-right: 20px;
    cursor: pointer;
}